.App {
  text-align: center;
}
.header{
  background-color: #f3e2e2;
  height: 100px;
}

.cart-div{
  float: right;
  margin :25px;
  position: relative;
}

.cart-div img{
  width: 30px;
}

.cart-div span{
  position: absolute;
  z-index: 5;
  background-color:green ;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  top:-10px;
  right: 0;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
}
.product-item{
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
}

.logo{
  float: left;
  margin: 0;
  padding: 20px;
}
.cart-page-container{
  display: flex;
  margin-right:30px ;
  margin-left:30px ;
}
.cart-page-container table{
  flex: 65%;
  border-collapse: collapse;
}
.cart-page-container table td{
 border: 1px solid #ccc;
  padding: 15px;
}

.price-details{
  flex: 35%;
  margin: 0 30px;
}

.price-details .adjust-price{
  display: flex;
  justify-content: space-around;
  margin-bottom:10px ;
  padding-bottom:10px;
  border-bottom: 1px solid #ddd;
}
.price-details .adjust-price span{
 font-size: 20px;
}